### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
###########################################################################
# Interface to the pandas and numpy library and load csv file for reading
#
###########################################################################
# Importing pandas and numpy libraries
import pandas as pd 
import numpy as np

#  Create a path to the csv file
file_to_load = "resources/purchase_data.csv"

# Read the csv file using pd.read_csv() function 
#
purchase_data_pd = pd.read_csv(file_to_load,encoding='utf-8')

# Print top 5 rows
purchase_data_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [2]:
########################################################
##  1. Player Count: Display the total number of players
#
#   To do: Player Count
########################################################
# Calculate total players count, extract it by using .unique() on SN (Screen-Name)
# as shown in head()
#
total_players = len(purchase_data_pd["SN"].unique())

# Create a data frame with total_players count 
#
player_count = pd.DataFrame({"Total players":total_players},index = [0])

# Display Player Count
player_count

   Total players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
###########################################################################
## 2. Purchasing Analysis (Total)
#    To do:
#    a) Run basic calculations to obtain number of unique items, average price, etc.
#    b) Create a summary data frame to hold the results
#    c) Optional: give the displayed data cleaner formatting
#    d) Display the summary data frame
# 
###########################################################################
#
# a) Perform basic calculation to find: Number of Unique Items, Average Price (mean),
#    Number of Purchases and Total Revenue 
#
# Total Number of unique items using "Item ID" as the key
#
number_of_unique_items = len(purchase_data_pd["Item ID"].unique())

# 
# Calculating Average price of puschasing using mean() function using "Price" column
#
average_price = purchase_data_pd["Price"].mean()

# Finding Total number of purchases using "Purchase ID"
#
number_of_purchases = purchase_data_pd["Purchase ID"].count()

# Calculating Total revenue using "Price"
#
total_revenue = purchase_data_pd["Price"].sum()

######################################################
# b) Create a summary data frame to hold the above results
# 
purchasing_analysis_df = pd.DataFrame({"Number of unique items":number_of_unique_items,"Average Price":average_price,
                                    "Number of Purchases":number_of_purchases,"Total Revenue":total_revenue}, index=[0])

# c) Optional: give the displayed data cleaner formatting
# Format the data to currenncy in $ with 2 dicmal floting point numbers (as per the requiments)
#
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:,.2f}".format)

# d) Display the summary data frame
#
purchasing_analysis_df

   Number of unique items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#############################################################
## 3. Gender Demographics
# To do:
#    a) Percentage and Count of Male Players
#    b) Percentage and Count of Female Players
#    c) Percentage and Count of Other / Non-Disclosed
#############################################################

# Using groupby() function based on "Gender" as the key to do a group_by_gender 
# for the players
group_by_gender = purchase_data_pd.groupby("Gender")

# Now, using "SN" column to uniqufy it to find Number of unique objects for the genders
#
number_of_unique_gender = group_by_gender["SN"].nunique()

# Calculate Percentage of Male, Female and Other/Non-DisclosedPlayers using number_of_unique_gender that 
# is identified earlier
#
percentage_of_players = (number_of_unique_gender/total_players)*100

# Creating a data frame using Pantads DataFrame() function to bundle all the all results then
# format is it (as per the requirement) and diaplay the results
gender_summary = pd.DataFrame({"Total Counts": number_of_unique_gender, "Percentage of Players": percentage_of_players})

# Formaaating the data frame surramry results
#
gender_summary["Percentage of Players"] = gender_summary["Percentage of Players"].map("{:.2f}%".format)

# Sort data in decscending order (max count 1st) for "Total Count"
#
gender_summary = gender_summary.sort_values(by=['Total Counts'], ascending=False)

# Display Results
#
gender_summary

                       Total Counts Percentage of Players
Gender
Male                            484                84.03%
Female                           81                14.06%
Other / Non-Disclosed            11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#############################################################
## 4. Purchasing Analysis (Gender)
# To do:
#    a) Run basic calculations to obtain purchase count, avg. purchase price, avg. 
#       purchase total per person etc. by gender
#    b) Create a summary data frame to hold the results
#    c) Optional: give the displayed data cleaner formatting
#    d) Display the summary data frame
#
#############################################################
#  
# Perform groupby "Gender" on "purchase_data_pd" data
#
groupby_gender = purchase_data_pd.groupby("Gender")

# a) Run basic calculations to obtain
# Purchase count, Average purchase price (mean), Average purchase total per person based on Gender
#
purchase_count = groupby_gender["Age"].count()
average_purchase = groupby_gender["Price"].mean()
total_purchase_amount = groupby_gender["Price"].sum()
average_purchase_person =(total_purchase_amount/number_of_unique_gender)

# b) Creating a data frame using Pantads DataFrame() function to bundle all the all results
#
summary_data_frame_results = pd.DataFrame({"Purchase count":purchase_count,"Average Purchase Price":average_purchase,
                           "Total Purchase value":total_purchase_amount,"Average Purchase Total per person":average_purchase_person})

# c) Formatting the "summary_data_frame_results" (as per the requirement) and diaplay the results
# do a clean formatting 
summary_data_frame_results["Average Purchase Price"] = summary_data_frame_results["Average Purchase Price"].map("${:.2f}".format)
summary_data_frame_results["Total Purchase value"]  = summary_data_frame_results["Total Purchase value"].map("${:,.2f}".format)
summary_data_frame_results["Average Purchase Total per person"] = summary_data_frame_results["Average Purchase Total per person"].map("${:.2f}".format)

# d) Display the summary data frame
# 
summary_data_frame_results

,Purchase count,Average Purchase Price,Total Purchase value,Average Purchase Total per person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
##################################################################
# 5. Age Demographics
#    a) Establish bins for ages
#    b) Categorize the existing players using the age bins
#    c) Calculate the numbers and percentages by age group
#    d) Create a summary data frame to hold the results
#    e) Optional: round the percentage column to two decimal points
#    f) Display Age Demographics Table
#
#################################################################
#
# a) Establish bins for ages and create groups by age
# 
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_by_age = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# b) Categorize the existing players using the age bins
# Slice data using pd.cut on "purchase_data_pd" for "Age" group 
# and  Categorize the existing players based on age_bins  
#
purchase_data_pd["Age Group"] = pd.cut(purchase_data_pd["Age"],age_bins, labels=group_by_age)

# Updated/Refined purchase data based on "Age Group", age_bins and "group_by_age"
#
purchase_data_pd

# c) Calculate the numbers of players and percentages by age group
#
# Use updated "purchase_data_pd" data frame and use groupby() 
# to create "purchase_data_pd_age_group" based "Age Group" category
# that will be used for further calculations
#
purchase_data_pd_age_group = purchase_data_pd.groupby("Age Group")

# Calculate the unique numbers of player count and percentages by age group 
# 
unique_number_player_count = purchase_data_pd_age_group["SN"].nunique()
percentage_by_age_group = (unique_number_player_count/total_players)*100

# d) Create a summary data frame to hold the results
#    Using pandas DataFrame() function to hold the above caculations for unique_number_player_count and 
#    percentage_by_age_group that will be used for formatting and display the results
#
data_frame_age_demographics = pd.DataFrame({"Total count":unique_number_player_count, "Percentage of players":percentage_by_age_group})

# e) Optional: round the percentage column to two decimal points
# 
# Reset data_frame_age_demographics.index.name to None for clean formatting
#
data_frame_age_demographics.index.name = None
data_frame_age_demographics["Percentage of players"] = data_frame_age_demographics["Percentage of players"].map("{:.2f}%".format)

# f) Display Age Demographics Table
data_frame_age_demographics

       Total count Percentage of players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
############################################################################
# 6. Purchasing Analysis by Age:
#    a) Bin the purchase_data data frame by age
#    b) Run basic calculations to obtain purchase count, avg. purchase price, 
#    avg. purchase total per person etc. in the table below
#    c) Create a summary data frame to hold the results
#    d) Optional: give the displayed data cleaner formatting
#    e) Display the summary data frame
#
###########################################################################
#
# a) Bin the purchase_data data frame by age
# Using the last data frame group and Bin by "Age" to do the calculations for:
#  b) ... purchase count, avg. purchase price, avg. purchase total per person etc.
#
purchase_count_by_age = purchase_data_pd_age_group["Age"].count()
average_purchase_price = purchase_data_pd_age_group["Price"].mean()
purchase_total_per_person = purchase_data_pd_age_group["Price"].sum()
average_purchase_per_person =(purchase_total_per_person/unique_number_player_count)

# create a DataFrame to hold the above results 
purchase_analysis_by_age_group = pd.DataFrame({"Purchase count":purchase_count_by_age,
                                      "Average Purchase Price":average_purchase_price,
                                       "Total Purchase value":purchase_total_per_person,
                                        "Average Purchase Total per person":average_purchase_per_person})
# d) Optional: give the displayed data cleaner formatting
# Formatting data frame based based on the example format 
#
purchase_analysis_by_age_group["Average Purchase Price"] = purchase_analysis_by_age_group["Average Purchase Price"].map("${:.2f}".format)
purchase_analysis_by_age_group["Total Purchase value"]  = purchase_analysis_by_age_group["Total Purchase value"].map("${:,.2f}".format)
purchase_analysis_by_age_group["Average Purchase Total per person"] = purchase_analysis_by_age_group["Average Purchase Total per person"].map("${:.2f}".format)

# e) Display the summary data frame
#
purchase_analysis_by_age_group

,Purchase count,Average Purchase Price,Total Purchase value,Average Purchase Total per person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
################################################################
# 7. Top Spenders¶
#    a) Run basic calculations to obtain the results in the table below
#    b) Create a summary data frame to hold the results
#    c) Sort the total purchase value column in descending order
#    d) Optional: give the displayed data cleaner formatting
#    e) Display a preview of the summary data frame
#
################################################################
# 
# Perform groupby on (SN-Screen Name) on "purchase_data_pd" 
#
purchase_data_pd_SN_group = purchase_data_pd.groupby("SN")

# a) Run basic calculations to obtain the results in the table below
# Calculate data as per table: 
#        Purchase count, Average Purchase Price, Total Purchase value
# 
purchase_count = purchase_data_pd_SN_group["Age"].count()
average_purchase_value = purchase_data_pd_SN_group["Price"].mean()
total_purchase_value = purchase_data_pd_SN_group["Price"].sum()

#  b) Create a summary data frame to hold the results
# Create a DataFrame named "top_spenders" with the above data 
#
top_spenders = pd.DataFrame({"Purchase count":purchase_count,"Average Purchase Price":average_purchase_value,
                           "Total Purchase value":total_purchase_value})

# c) Sort the total purchase value column in descending order
#
top_spenders = top_spenders.sort_values("Total Purchase value", ascending = False)

# d) Optional: give the displayed data cleaner formatting
#  Formatting data as required for Price and Value in $ with 2 decimal point
#
top_spenders["Average Purchase Price"] = top_spenders["Average Purchase Price"].map("${:.2f}".format)
top_spenders["Total Purchase value"]  = top_spenders["Total Purchase value"].map("${:,.2f}".format)

# e) Display a preview of the summary data frame
# Print the data frame for the above results on "top_spender"
top_spenders.head()

             Purchase count Average Purchase Price Total Purchase value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
################################################################
# 8. Most Popular Items
#    a) Retrieve the Item ID, Item Name, and Item Price columns
#    b) Group by Item ID and Item Name
#    c) Perform calculations to obtain purchase count, average item price, and total purchase value
#    d) Create a summary data frame to hold the results
#    e) Sort the purchase count column in descending order
#    f) Optional: give the displayed data cleaner formatting
#    g) Display a preview of the summary data frame
#
################################################################
#
# a) Retrieve the Item ID, Item Name, and Item Price columns (using .loc)  
#
retrieve_most_popular_data_frame = purchase_data_pd.loc[:,["Item ID","Item Name","Price"]]

# b) Group by Item ID and Item Name
# Group data using groupby() based  on Group "Item ID" and "Item Name"
#
most_popular_item_group = purchase_data_pd.groupby(["Item ID", "Item Name"])

# c) Perform calculations to obtain purchase count, average item price, and total purchase value
# 
purchase_count = most_popular_item_group["Age"].count()
average_purchase = most_popular_item_group["Price"].mean()
total_purchase_value = most_popular_item_group["Price"].sum()

# d) Create a summary data frame to hold the results
#  Using pandas DataFrame() to create the "most_popular_item" data frame
#  
most_popular_items = pd.DataFrame({"Purchase count":purchase_count,
                                   "Average Purchase Price":average_purchase,
                                   "Total Purchase value":total_purchase_value})

# e) Sort the purchase count column in descending order
#     
most_popular_items = most_popular_items.sort_values("Purchase count", ascending = False)

# f) Optional: give the displayed data cleaner formatting
#    Format "Total Purchase value" and "Average Purchase Price" as per the given example format
#
most_popular_items["Total Purchase value"]  = most_popular_items["Total Purchase value"].map("${:,.2f}".format)
most_popular_items["Average Purchase Price"] = most_popular_items["Average Purchase Price"].map("${:.2f}".format)


# g) Display a preview of the summary data frame
#   Print the most popular item data frame
#
most_popular_items.head()

,,Purchase count,Average Purchase Price,Total Purchase value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
################################################################
# 9. Most Profitable Items¶
#    a) Sort the above table by total purchase value in descending order
#    b) Optional: give the displayed data cleaner formatting
#    c) Display a preview of the data frame
#
################################################################

# Create a data fram as "most_profitable_items using panda "DataFrame() func 
# to hold the above results 
#  - Reusing the values from previous run on "Most Popular Items"
#    for purchase_count, average_purchase and total_purchase_value
#   
most_profitable_items = pd.DataFrame({"Purchase count":purchase_count,"Average Purchase Price":average_purchase,
                                  "Total Purchase value":total_purchase_value})

# a) Sort the above table by total purchase value in descending order and store it 
#    to the varibale "most_ptofitable_items"
#   
most_ptofitable_items = most_profitable_items.sort_values("Total Purchase value", ascending = False)

#    b) Optional: give the displayed data cleaner formatting
#           Formatting "Total Purchase value" and "Average Purchase Price" 
#           as per the given example format to $ and 2 decimal points for 
#           "Total Purchase value" and "Average Purchase Price"
#
most_ptofitable_items["Total Purchase value"]  = most_ptofitable_items["Total Purchase value"].map("${:,.2f}".format)
most_ptofitable_items["Average Purchase Price"] = most_ptofitable_items["Average Purchase Price"].map("${:.2f}".format)

# c) Display a preview of the data frame
# Print the Most Profitable Items Table
#
most_ptofitable_items.head()

,,Purchase count,Average Purchase Price,Total Purchase value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80